body {
  margin-left: 28px;
  margin-right: 100px;
  font-family:sans-serif;
  color: #000000;
  background-color:"#9999ee";
  background-image: url();
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: justify;
}


a:link {  color: #ooc; background: transparent;}
a:visited { color: #609; background: transparent;}
a:active{ color:#coo; background:transparent;}
a:hover{ background: #ffa}

h1, h2, h3, h4, h5, h6 {text-align: left; }
h1, h2, h3 { color:#005a9c }
h1 { font: 170%; font-weight:bold; font-family:sans-serif;}
h2 { font: 140%; color:#ff0000; font-family:sans-serif;}
h3 { font: 120%; color:#00ff00; font-family:sans-serif;}
